@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot")format("embedded-opentype"),
  url("../fonts/GothamProBold.woff") format("woff"),
  url("../fonts/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}